*{
    font-family: 'Raleway', sans-serif;
    
}

body {
  overflow-x: hidden;
}


html{
    scroll-behavior: smooth;
}


nav {
  background:
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.01) 0,
      rgba(255, 255, 255, 0.01) 3px,
      rgba(0, 0, 0, 0.01) 3px,
      rgba(0, 0, 0, 0.01) 6px
    ),
    linear-gradient(to bottom right, #2a2d48, #3e466f);

  padding-left: 1em;
    border-bottom: 3px solid #2a2d48;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}


button{
    font-family: 'Raleway',sans-serif;
}


.vijukCodePrint-font{
    font-family: 'Courier New', monospace;
    color:wheat;
    font-size: 0.68em !important;
    font-weight: 700;
    margin-left: 10px !important;
}

.logo-img{
    height: 90%;
    margin-right: 0px !important;
}

#preporucene{
    cursor: pointer;
}

#current{
    cursor: default;
}



.brand-logo{
    display: flex !important;
    align-items: center;
    height: 100%;
    width: fit-content;
    margin-left: 10px;
}

.center{
    text-align: center !important;
}



.dark-pink{
    background-color: #ec871b;
}


h1,h2,h3,h4,h5{
    font-weight: 600;
    color: wheat;
}
p{
    color: whitesmoke;
}

hr{
    width: 70%;
    height: 3px;
    background-color: black;
    border:none;
}

.height-100{
    height: 100px;
}
.height-200{
    height: 200px;
}
.height-250{
    height: 250px;
}

.height-300{
    height: 300px;
}






.page-footer{
  background:
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.01) 0,
      rgba(255, 255, 255, 0.01) 3px,
      rgba(0, 0, 0, 0.01) 3px,
      rgba(0, 0, 0, 0.01) 6px
    ),
    linear-gradient(to bottom right, #2a2d48, #3e466f);
}

.height-600{
    height: 600px !important;
}

footer i,footer img{
    position: relative;
    right:5px;
    top:6px;
}

.left-align{
    text-align: left;
}

.flex-basis{
    flex-basis: auto;
}

footer a{
    text-decoration: none;
    color: white;
}


.modal{
    color:black;
}

.no-float{
    float:none;
}


.collapsible-header{
    justify-content: flex-start;
}

.no-left{
    text-align: unset;
}

.justify-center{
    justify-content: center;
}

.inline-block{
    display: inline-block;
}

.indicator-item.active{
    background-color: #f07167 !important;
}


.caption{
    background-color: rgba(0,0,0,0.7);
}


.slider .slides li .caption{
    top:auto;
    bottom:15%;
    left:0;
    width:60%;
    padding-left:1em;
}

.short-desc-img{
    width: 70%;
}

.hr-width-smaller{
    width: 60%;
}

.width-80{
    width: 80%;
}

.city-short-info{
    text-align: left;
    font-size: 1em;

}

.do-font{
    font-size: 1.2em;
}

.margin-right{
margin-right: 1%;
}
main {
  background:
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.01) 0,
      rgba(255, 255, 255, 0.01) 3px,
      rgba(0, 0, 0, 0.01) 3px,
      rgba(0, 0, 0, 0.01) 6px
    ),
    linear-gradient(to bottom right, #2a2d48, #3e466f);  margin: 0 0px; /* Pomeranje sa leve i desne strane */
  padding: 0px; /* Unutrašnje margine */
}

main h1:first-child,
main h2:first-child {
  margin-top: 0;
}
    
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

ul.table-of-contents a.active{
    color: rgba(0,0,0,0.8);
    font-weight: 800;
}

ul.table-of-contents{
    line-height: 2em;
}

.vertical-line{
    height:50%;
    display: inline;
    border-right: 1px solid rgba(0,0,0,0.4);
}

.border-left{
    border-left: 1px solid rgba(0,0,0,0.2);
}



.btn-margin{
    margin: 0.5em;
}

.visibility{
    visibility: hidden;
}



.width-100{
    width: 100%;
    text-align: center;
}

.on-left{
    left:24px;
    right: unset;
}

.text-size-tour{
    font-size: 1.5em;
    font-weight: 500;
}

.minimum-padding{
    padding: 1em 0.5em;
}

.width-60{
    width: 60%;
}

.smaller-font{
    font-size: 1.5em;
    font-weight: normal;
}


.medium-size-icon{
    font-size: 35px;
}




.margin-fixed{
    margin-top: 2em;
}

.break-words{
    word-break: break-word;
}

.width-1em{
    width: 1em;
}

.progress{
    height:20px;
    width: 60%;
    margin: 0 0 0 1em;
    border-radius: 5px;
    background-color: #f5beba;

}

.progress .determinate{
    background-color: #00afb9;
}

.flex-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

.size-large{
    font-size: x-large;
}

.black-text{
    color: white;
}

.progress-margin-bottom{
    margin-bottom: 1em;
}

.margin-left-1em{
    margin-left: 1em;
}

.justify-left{
    justify-content: left;
}

.centralize{
    margin: 0 auto;
}

.width-85{
    width: 85%;
}

.margin-left{
    margin-left: 1em;
}

.rating{
    margin: 0.1em 0 0.3em 0;
}

.no-bottom-margin{
    margin-bottom: 0;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.stick-to-top-right{
    top:-20px;
    right:-12px;
}

.tab-padding{
    padding: 15px 10px;
    
}


.card-panel{
    padding: 24px 0;
}

.transparency{
    padding:1px 0;
    background-color: rgba(255,255,255,0.8);
}


.margin-bottom{
    margin-bottom: 1em;
}


.overflow-all{
    overflow: scroll !important;
}

textarea{
    resize: vertical !important;
}


/*Dizajn scrollbara*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .block{
      display: block;
  }

.margin-5{
    margin: 0 5px;
}

.fixed-padding{
    padding:0  0.75em 0 0 !important;
}

.small-padding-bottom{
    padding-bottom: 5px !important;
}



.sidenav {
   width: 60vw; /* širina sidebar-a 75% širine viewporta */
background: rgba(12, 15, 35, 0.75); /* Malo svetlija i jača pozadina */
backdrop-filter: blur(6px); /* Malo jači blur */
color: #eee; /* Svetlija boja teksta unutar sidebar */
padding-top: 0; /* da bismo mogli lepo da stilizujemo header */
display: flex;
flex-direction: column;
height: 100%;
}

.sidenav-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1.4rem 1.5rem;
background: rgba(255, 255, 255, 0.1); /* Svetlija polu-prozirna pozadina za header */
color: #f5f5f5;
font-size: 1.8rem; /* Veći naslov */
font-weight: 700;
user-select: none;
border-bottom: 1px solid rgba(255,255,255,0.15);
position: relative;
}

.sidenav-header span.title {
flex-grow: 1;
}
.sidenav li {
border-bottom: 1px solid rgba(0, 0, 0, 0.82); /* linija između stavki */
 background: #9fa6c2;

}
.sidenav li:last-child {
border-bottom: none; /* poslednja nema donju liniju */
}
.sidenav li:hover {
 background: #767c95;
}
.sidenav-header .close-btn {
font-size: 2.4rem;
color: #fff;
cursor: pointer;
padding: 0 15px;
border-radius: 4px;
transition: background-color 0.2s ease;
margin-left: auto; /* guranje na desno */
}

.sidenav-header .close-btn:hover {
background-color: #ff4c4c;
}

.sidenav a {
color: #ddd; /* svetlija boja linkova */
font-size: 1.15rem;
padding: 14px 24px;
display: block;
transition: color 0.25s ease;
}

.sidenav a:hover {
color: #0c0900;
}
@media only screen and (max-width:500px){
    nav .sidenav-trigger{
        margin: 0;
    }

    .row .col.s6{
        width: 100%;
    }

    .left-align{
        text-align: center;
    }


    .logo-img{
        height: 80%;
        margin-right: 5px;
    }

    .btn-large{
        line-height: unset;
        padding: 10px;
        height: fit-content;
        width: fit-content;
    }


    .flex-on-resize{
        display: flex;
        flex-wrap: wrap;
    }

    .flex-on-resize .btn{
        margin-bottom:10px
    }

    .row{
        margin-bottom: 0;
    }

    .slider .slides li .caption{
        width: 100%;
        text-align: center;
    }

    .indicator-item{
        height: 11px !important;
        width: 11px !important;
    }


    .slider{
        height: 450px !important;
    }

    .slides{
        height: 400px !important;
    }

    .padded{
        padding: 1em;
    }

    .short-desc-img,.width-60{
        width: 90%;
    }

    .hr-width-smaller{
        width: 80%;
    }

    .modal .modal-content{
        padding: 24px 15px;
    }

    .medium-size-icon{
        font-size: 25px !important;
    }

    .progress{
        height: 10px;
    }

    .progress-margin-bottom{
        margin-bottom: 0.5em;
    }

    .margin-left{
        margin-left: 0.5em;
    }

    .margin-fixed,.margin-on-resize{
        margin-top: 1.2em;
    }

    .brand-logo{
        width: max-content;
    }

}
.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.contact-me ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-me li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 10px;
}

.contact-me i {
    width: 30px; /* Fiksna širina za sve ikonice */
    font-size: 24px;
    text-align: center;
}

.contact-me span {
    display: inline-block;
}


.bigger-line-height {
  display: flex; /* Prikazuje stavke liste u jednom redu */
  justify-content: center; /* Poravnava stavke centrirano */
  list-style: none; /* Uklanja oznake liste (tačke) */
  padding: 0;
  gap: 15px;      
  line-height: 2;
}

.bigger-line-height li {
  display: flex; /* Fleksibilno za ikone */
  align-items: center;
}

@media only screen and (max-width:600px){
    .row .col.s9{
        width: 100%;
    }
    .visibility{
        visibility:visible !important;
    }

    .card{
        height: unset;
    }
}

@media only screen and (max-width:700px){
    .input-field > label{
        font-size:0.8em;
        font-weight: 400;
    }

    h1{
        font-size: 3em;
    }
    .bigger-font{
        font-size: xx-large;
    }

    h2{
        font-size: 2.5em;
    }

    h3{
        font-size:2em;
    }

    h4,.card .card-title{
        font-size: 1.5em;
    }

    h5,.smaller-font,.size-large{
        font-size: 1.2em !important;
    }

    .btn-large,.paragraph,p,.text-size-tour{
        font-size: 1em !important;
    }

    .tabs .tab a{
        font-size: 0.85em;
    }

}



.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 2% 2%;
}
/* Direktni potomci: jednaki flex-basis */
.projects-container > .card-wrapper,
.projects-container > .project-card {
  flex: 0 0 calc(30% - 20px);  /* 30% širine minus gap */
  height: 250px;               /* fiksna visina */
}

.project-card {
  position: relative;
  width: calc(33.33% - 20px);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s ease, opacity 1s ease; /* sporiji fade-in */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.project-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: background 0.3s;
}
.project-card.ai-card h2 {
  position: absolute;
  left: 15%;
  font-size: 3rem;
  color: #fff;
  z-index: 2;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.9);
}
.project-card.web-card h2  {
  position: absolute;
  right: 8%;
  font-size: 3rem;
  color: #fff;
  z-index: 2;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.9);
}

.project-card.graphic-card h2  {
  position: absolute;
  right: 8%;
  font-size: 3rem;
  color: #fff;
  z-index: 2;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.9);
}
.project-card.visible {
  opacity: 1;
  transform: translateY(0);
}
.project-card:hover {
    transform: scale(1.05);
}

.project-card:hover::after {
    background: rgba(0, 0, 0, 0.6);
}

.project-card:hover h2 {
  transform: scale(1.05);
  color: #ffd700;
}

/* Responsivnost za manje ekrane */
@media (max-width: 768px) {
  .project-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .project-card {
    width: 100%;
  }
}

/*OVO JE ZA ONO STO IDE OKOLO KARTICE*/
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@property --angle2 {
  syntax: "<angle>";
  initial-value: 180deg;
  inherits: false;
}
.card-wrapper.visible {
  opacity: 1;
  transform: translateY(0);
}
.card-wrapper {
  position: relative;
  width: calc(33.33% - 20px);
  height: 200px;
  max-width: 90%;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s ease, opacity 1s ease; /* sporiji fade-in */

}

.card-wrapper .project-card {
  /* sad 100% popunjava wrapper */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


.card-wrapper::before,
.card-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: conic-gradient(from var(--angle), transparent 50%, orange),
                    conic-gradient(from var(--angle2), transparent 50%, orange);
  padding: 2%;
  border-radius: 10px;
  animation: spin 3s linear infinite;
  pointer-events: none;
}
/* Da conic-gradient bude iza .project-card: */
.card-wrapper::before { z-index: 0; filter: blur(0.5rem); opacity: 1; }
.card-wrapper::after  { z-index: 1; }


@keyframes spin {
  from {
    --angle: 0deg;
    --angle2: 180deg;
  }
  to {
    --angle: 360deg;
    --angle2: 540deg; /* 180 + 360 = 540deg */
  }
}


@media (max-width: 768px) {
  .projects-container > .card-wrapper,
  .projects-container > .project-card {
    flex: 0 0 calc(45% - 20px);
  }
}

@media (max-width: 480px) {
  .projects-container > .card-wrapper,
  .projects-container > .project-card {
    flex: 0 0 80%;
  }
}
/*OVO JE ZA ONO STO IDE OKOLO KARTICE*/

#to-top-btn {
  cursor: pointer;
  opacity: 0;
  pointer-events: none; /* Dugme ne reaguje kada je sakriveno */
  transition: opacity 0.9s ease; /* Brzina fade efekta */
}

#to-top-btn.show {
  opacity: 1;
  pointer-events: auto; /* Dugme reaguje kada je vidljivo */
}
.about-section {
  max-width: 800px; /* Povećana širina za dovoljno prostora */
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
.toggle-arrow {
    cursor: pointer;
  font-size: 48px; /* Povećana veličina strelice */
  transition: transform 0.9s ease;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  vertical-align: middle;
}

.toggle-arrow.rotate {
  transform: rotate(180deg);
}
.project-info, .project-info2 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s ease, opacity 0.8s ease;
  opacity: 0;
}

.project-info.show,.project-info2.show {
  max-height: 500px; /* Maksimalna visina kada je otvoreno */
  opacity: 1;
}

.about-text {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s ease, opacity 0.8s ease;
  opacity: 0;
}

.about-text.show {
  max-height: 500px; /* Maksimalna visina kada je otvoreno */
  opacity: 1;
}
.about-image {
    width: 41%; /* Smanjivanje širine slike na polovinu */
    height: auto; /* Održavanje proporcija slike */
    clip-path: inset(0px 0% 0% 1px); 
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.about-content {
  display: flex;
  gap: 0.2em;
  align-items: center;
}

.info-itemwpics {
  display: flex;
  align-items: center;
  gap: 5px;
}
.text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px; /* Pomeranje teksta nadole */
  margin-left: 10px;
}
.info-box {
position: relative;
  padding: 2%;
  border-radius: 8px;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #bfe2e7;
}
/* Na manjim ekranima (mobilni uređaji) */
@media (max-width: 768px) {
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; /* Nema razmaka između slika i info box-a */
  }
  .info-box {
    padding: 10px; /* Povećaj padding da bude upotpunjen */
  }
}

.name-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
   margin: 0; /* Uklanja automatsku marginu */
  padding: 0;
}

.role-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 7px; /* Ovaj razmak će sada biti jednak za sve stavke */
  margin-top: 5px;
}
.info-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}


.info-item a,
.info-item p {
  margin: 0; /* Uklanjanje automatskog marginiranja */
  padding: 0;
  line-height: 1.2; /* Postavljanje konzistentne visine */
}

.material-icons.contact-icon {
  font-size: 24px;
  vertical-align: middle;
}

.contact-icons {
  font-size: 24px; /* Veličina ikonica */
  color: #333;
}

/*Ovo je za drustvene mreze*/

.socials-container{
  display: flex;
  gap: 15px;
}
.socials-container a{
      position: relative; /* Ograničava tooltip na samo ikonicu */

  background-color: white;
  padding: 0.5em;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.socials-container a svg{
  height: 18px;
}
.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 0.3em 0.6em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 400ms cubic-bezier(.42,0,.44,1.68);
    pointer-events: none; /* Sprečava da hover reaguje na tooltip */

}
.socials-container a:hover{
  background-color: var(--accent-color);
  fill: white;
  
}
.socials-container a::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 400ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover::before{
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}
.socials-container a:hover::after{
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}
/*Ovo je za drustvene mreze*/


    .scroll-progress-bar {
            position: fixed;
            top: 0;
            left: 0;
            height: 2px;
            background: linear-gradient(90deg, #347cc9, #2883fa);
            z-index: 9999;
            transition: width 0.1s ease-out;
            box-shadow: 0 0 15px rgba(255, 191, 0, 0.7), 0 0 25px rgba(255, 0, 128, 0.7);
        }

        #scrollProgressBar::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 2px;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.6), transparent);
            filter: blur(8px);
        }

        #scrollProgressBar.visible {
            opacity: 1;
        }

        #scrollProgressBar.hidden {
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }

        

/*OVO SU IKONICE JEZIKA*/
   .category {
      margin-bottom: 40px;
      text-align: center;
    }

    .category h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .icons-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
    }

    .icons-container img {
      width: 60px;
      height: 60px;
      transition: transform 0.3s;
      filter: brightness(0.8);
    }

    .icons-container img:hover {
      transform: scale(1.1);
      filter: brightness(1);
    }        
/*OVO SU IKONICE JEZIKA*/        

.image-slider {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 1px auto;
  perspective: 1000px;
  overflow: hidden;          /* da kocka ne štrči izvan */
}

.cube {
  position: relative;
  width: 100%;
  aspect-ratio: 16/16;        /* drži visinu usklađenu sa širinom */
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.slider-arrow {
  position: absolute;
  top: 35%;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.slider-arrow:hover {
  color: rgba(0, 0, 0, 0.8);
}

.left-arrow  { left:  2%; }
.right-arrow { right: 2%; }


.toggle-section {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 1vw;
}

.toggle-section h2 {
  font-size: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  margin-top: 20px;
}

.video-container iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

#about-me, #my-projects {
  scroll-margin-top: 80px; /* ili koliko god ti treba da "povuče gore" */
}

.project-name-heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-start; /* da se poravnaju po vrhu */
  gap: 5px;
  z-index: 10;
  
}

/* Natpis sada spušten dole, da "visi" na kraju hanger-a */
.project-name-heading span {
  background: rgba(2, 6, 35, 0.9);
  color: rgb(225, 173, 5);
  font-size: 2.5rem;
  padding: 0px 10px;
  font-size: 37px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
  text-align: center;

  /* Pomera natpis dole koliko hanger ima visine */
  margin-top: 57px; /* isto kao i visina hanger-a */
  position: relative;
}

/* Hanger - glavni vertikalni kanap */
.hanger {
  position: relative;
  width: 2px;
  height: 60px;
  background-color: black;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.7);
}

/* Horizontalne linije na vrhu hanger-a (ka plafonu) */
.hanger::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}

/* Horizontalne linije na dnu hanger-a (ka natpisu) */
.hanger::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}

/* Leva rotacija i oblik */
.left-hanger {
  border-top-left-radius: 5px;
  transform-origin: top left;
  transform: rotate(-10deg);
}

/* Desna rotacija i oblik */
.right-hanger {
  border-top-right-radius: 5px;
  transform-origin: top right;
  transform: rotate(10deg);
}
